---
layout: page
permalink: /news
title: News
description: News and Events related to X-Monit
---
{%- for post in site.categories.news -%}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
      <h3>{{ post.title }}</h3>
      <div class="post-meta">Posted by
        {% if post.author %}
        {{ post.author }}
        {% else %}
        {{ site.author }}
        {% endif %}
        on
        {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
      </div>
      <p class="post-subtitle">
      {%- if post.subtitle -%}
      {{ post.subtitle }}
      {%- else -%}
      {{ post.excerpt | strip_html | truncatewords: 15 }}
      {%- endif -%}
      </p>
  </a>
  </article>
  <hr/>
{%- endfor -%}